body {
  margin: 0;
  background: #1a1a1a;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.top-bar {
  position: sticky;
  top: 0;
  z-index: 9999;
  background: #1a1a1a;
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
}


.viewer {
  width: 100%;
  height: 90vh;
  overflow: auto; /* taşmayı kontrol eder */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}


#book {
  width: 100%;
  max-width: 900px;
  transform-origin: top center;
}

#cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  cursor: pointer;
}

#coverImg {
  width: 300px;
  transition: transform 1s ease;
  transform-origin: left;
}


.opening #coverImg {
  transform: rotateY(-120deg);
}